<launch>
  <!--
    Adapted based on
    http://wiki.ros.org/rtabmap_ros/Tutorials/MappingAndNavigationOnTurtlebot#Localization_mode

    This launch file starts the navigation function for the course robot with realsense camera only.
    Rtabmap is used for SLAM.
    ROS package of depthimage_to_laserscan is used to create a fake laser sensor for ROS navigation stack.
    Yongming Qin
    2020_1104
  -->

  <!-- Arguments -->
  <arg name="rtabmapviz" default="true"/>
  <arg name="localization" default="true"/>
  <arg name="database_path" default="/home/yq/for_offline_path_planning.db"/>
  <arg     if="$(arg localization)" name="rtabmap_args" default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args" default="-d"/>


  <!-- start realsense -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="enable_gyro" value="true"/>
    <arg name="enable_accel" value="true"/>
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="realsense_imu_filter" output="screen">
    <remap from="/imu/data_raw" to="/camera/imu"/>
    <remap from="/imu/data" to="/rtabmap/imu"/>
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="false"/>
    <param name="world_frame" value="enu"/>
  </node>

  <!-- tf transform -->
  <!-- <node pkg="tf" type="static_transform_publisher"  name="base_to_camera"
        args="1.0 0.0 0.0 0 0 0 base_link camera_link 1" /> -->

  




  <!-- rtabmap -->
  <include file="$(find thk_nav)/launch_slam/rtabmap_realsense.launch">
    <arg name="rtabmap_args" value="$(arg rtabmap_args) --Optimizer/GravitySigma 0.3"/>
    <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
    <arg name="rgb_topic" value="/camera/color/image_raw"/>
    <arg name="camera_info_topic" value="/camera/color/camera_info"/>
    <arg name="approx_sync" value="true"/>
    <arg name="wait_imu_to_init" value="true"/>
    <arg name="imu_topic" value="/rtabmap/imu"/>
    <arg name="rviz" value="false"/>
    <arg name="rtabmapviz" value="$(arg rtabmapviz)"/>
    <arg name="database_path" value="$(arg database_path)"/>

    <!-- from demo_turtlebot3_navigation.launch -->
    <!-- <arg name="subscribe_scan" value="true"/> -->
  </include>



</launch>
